node_modules/
.next/
out/
.vercel
*.tsbuildinfo
next-env.d.ts

# Env / secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Local DB
prisma/dev.db
prisma/dev.db-journal
*.sqlite
*.sqlite-journal

# OS / editor
.DS_Store
.vscode/
.idea/
